body {
	background-color: #bbe6e4;
	font-family: Helvetica;
	padding: 10px;
	font-size: 18px;
	color: rgb(0, 0, 0, 0.8);
	text-align: center;
}

#root {
	margin: 0 auto;
	width: 50%;
	min-width: 300px;
}

.card {
	border-radius: 10px;
	width: 100%;
	box-sizing: border-box;
	background-color: #fff;
	padding: 40px 10px 60px;
	margin: 10px;
	/* offset-x | offset-y | blur-radius | color */
	box-shadow: 4px 2px 12px rgba(0, 0, 0, 0.2);
}

select {
	height: 50px;
	margin: 10px;
	text-align: inherit;
	border: 1px;
}

select > option {
	text-transform: capitalize;
}

img {
	box-sizing: border-box;
	width: 200px;
	height: 200px;
	background-color: rgba(187, 230, 228, 0.5);
	border: 3px solid gray;
	border-radius: 120px;
	padding: 20px;
}

.name {
	text-transform: capitalize;
	font-size: 40px;
	font-weight: bold;
}

.descr {
	font-size: 18px;
	line-height: 120%;
}

button {
	box-sizing: border-box;
	margin: 10px;
	height: 40px;
	width: 100%;
	border-style: none;
	border-color: none;
	border-radius: 7px;

	color: white;
	background-color: #7d70ba;
}

button:hover {
	cursor: pointer;
}

@media (min-height: 750px) {
	.btnRow {
		position: absolute;
		display: flex;
		bottom: 10px;
		width: 50%;
		min-width: 300px;
		margin: 0 auto;
		margin-top: 20px;
	}
}

@media (max-height: 750px) {
	.btnRow {
		box-sizing: border-box;
		display: flex;
		width: 100%;
		min-width: 300px;
		margin: 10px 10px;
	}
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
